body{
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
}
nav{
	background-color: white;
	border-bottom: 2px solid grey;
	text-align: center;
	img.navimg{
		width: 300px;
		padding-top: 10px;
		padding-left: 30px;

	}
	a{
		color: black;
		text-decoration: none;
		padding:5px 20px 5px 2px;
		font-size: 13px;
	}

	a:hover{
  		color: white;
  		background-color: #204051;
	}
	a.active{
		color: white;
  		background-color: #204051;
	}
}

.jumbotron{
	margin-bottom: 0px;
	background-color: gray;
}
#head{
		// background: url('../images/head.png')no-repeat center center fixed;
		// background-size: cover;
		color:white;
		height: 300px;
		margin-bottom: 0px;
		padding:0px;
}
#sched-link{
	padding:20px;
	width: 30%;
	margin: 0 auto;
	margin-top: -100px;
	margin-bottom: 50px;
	background-color: #204051;
	text-align: center;
	color:white;
	img{
		width: 50px;
		margin:0 auto;
	}
}

#About-us{
	background: url('../images/aboutus.jpg')no-repeat center center fixed;
	background-size: cover;
	padding:50px;
	color:white;
	.container{

	}
	.left{
		border: 1px solid white;
		padding:20px;
		border-radius: 20px;
		margin-bottom: 10px;
		img{
			padding-top: 10px;
			border-radius: 20px;
		}
		.verse{
			background-color: #3b6978;
						color:white;
		}
	}
	.right{
		text-align: center;
		border: none;
		hr{
			background-color: gray;
		}
		.tab-content{
			padding:20px;
			text-align: left;
		}
		.nav-tabs{
			border:0px;
			
			.nav-link{
						border:none;
						border-radius: 0px;
						box-shadow: none;
						background-color: #3b6978;
						color:white;
			}
			.nav-link:hover{
						border:none;
						border-radius: 0px;
						box-shadow: none;
						background-color: #84a9ac;
						color:white;
						}
					.nav-link:focus{
						border:none;
						border-radius: 0px;
						box-shadow: none;
						background-color: #204051;
						color:white;
						}

					
		}
	
	}
	
}

#Our-staff{
	background: url('../images/staff.png')no-repeat center center fixed;
	background-size: cover;
	.container{
		.card-group{
			.card{
				.card-body{
					img{
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	p.lead{
		background-color: #393e46;
		color:white;
	}
	.card, .card-body, .card-text, .content{
		background-color: #e8e4e1;
		}
}
#Contact-us{
		background:gray;
		background-size: cover;
		padding:50px;
		height: auto;
			.card-group{
				.card{
					margin:3px;
					padding:10px;
					img{
						
					}
				}
		}
		h1{
			padding: 10px;
			background-color: #393e46;
			color:white;
		}
		iframe{
			position:relative;
			min-width:100%;
			width:100%;
		}
		img.addlogo{
			width: 30px;
		}
		.mapouter{
			position:relative;
			height:auto;width:100%;
			}
		.gmap_canvas {
			overflow:hidden;
			background:none!important;
			height:auto;
			width:100%;
		}
}
#schedule{
	
	.sched-holder{
		width: 60%;
		margin:0 auto;
		background-color: #e8e4e1;
		padding-top: 20px;
			.card-body{
				padding-left:0px;
				padding-right: 0px;
			}
			li{
				padding-left: 10px;
				padding-right: 0px;
			}
			.card-body, li{
				background-color: #e8e4e1;
				text-align: left;
			}
			img.clockimg{
			width: 50px;
			margin:0 auto;
		}
	}
	
}

#churchshedule{
	background: url('../images/modalback.jpg')no-repeat center center fixed;
	background-size: cover;
	.modal-dialog{
		.modal-content{
			background: url('../images/modal.jpg')no-repeat center center fixed;
			background-size: cover;
			padding: 10px 50px;
			.container{
				background-color: #204051;		
				text-align: center;
				border: none;
				padding:10px;
				.nav-tabs{
					border: none;
				}
				li{
					background-color: #204051;
					border: none;
					color: white;
					a{
						text-decoration: none;
						border: none;
						color:white;
						font-size: 12px;
					}
					img{
						width: 20px;
						margin-right: 3px;
					}
				}
			}
			h1{
				color:white;
				span{
					color:yellow;
				}
			}

			p{
				color:white;
			}
			
			.row{
				hr{
					background-color:gray;
				}
				
				
			}
			.card-header{
					background-color: #204051;
					color:white;
					}
			.right-panel{
				padding:20px;
			}	
			
			
			
			li{
				padding-left: 10px;
				padding-right: 0px;
			}
			.card-body, li{
				background-color: #e8e4e1;
				text-align: left;
			}
			img.clockimg{
				width: 50px;
				margin:0 auto;
			}
			#myTab{
				border: none;
				li{
					padding:0;
					text-align: center;
					background-color: #204051;
					a{
						text-decoration: none;
						color:white;
					}
					.nav-link:hover{
						border:none;
						box-shadow: none;
						background-color: #84a9ac;
						color:white;
						}
					.nav-link:focus{
						border:none;
						box-shadow: none;
						background-color: #3b6978;
						color:white;
						}
					.active{
						background-color: #3b6978;
						color:white;
						border:none;
						box-shadow: none;
					}
				}	
			}
		}
		.row{
			padding:5px 20px 5px 20px;
			.card-header{
				background-color: #204051;
			}
			.body{
				padding:0px 0px 0px 10px;
			}
			h5.look{
				font-size: 17px;	
			}
		}
		.modal-footer{
		    padding: 5pxpx;
		    border: none;
		}
		
	}		
}

// footer

footer{
		background-color: black;
		text-align: center;
		font-size: 12px;
		margin-top: auto;
		padding:20px;
		color:white;
		p{
		margin:0px;
		}
		.social-logo{
			margin-top: 5px;
			width: 70px;
		}
}



/* media queries */
  @mixin phone{
  	@media only screen and (max-width:480px){
  		@content;
  	}
  }


@mixin ipad{
  	@media only screen and (max-width:768px){
  		@content;
  	}
  }

 @mixin ipadpro{
  	@media only screen and (max-width:1024px){
  		@content;
  	}
  }

@include ipadpro{
	#sched-link{
		width: 100%;
		padding:20px;
	}

}

@include ipad{
	nav{
	img.navimg{
		width: 200px;
		padding-top: 10px;
		}
	button{
		img{
			width: 50px;
		}
		}
	}
	#sched-link{
		width: 100%;
		padding:20px;
	}
	#About-us{
	background: url('../images/aboutus.jpg')no-repeat center center fixed;
	background-size: cover;
	padding:10px;
	color:white;
	.card{
		color:black;
		
	}
	.card, .card-body, .card-text, .content{
		background-color: #e8e4e1;
		}

	}
	#Our-staff{
		p.lead{
			font-size: 12px;
		}
	}
	#Contact-us{
			.card-group{
				.card{
					.card-body{
						margin:0px;
							img{
					
							}
					}
					
				}
		}
		padding:0px;
		.card-header{
			padding:0px;
			p{
			font-size: 12px;
		}
		}
		

	}
	#schedule{
		background: url('../images/ourstaff.jpg')no-repeat center center fixed;
		background-size: cover;
		padding:25px;
	.sched-holder{
		width: 100%;
		margin:0 auto;
		background-color: #e8e4e1;
		padding:20px;
			.card-body{
				padding-left:0px;
				padding-right: 0px;
			}
			li{
				padding-left: 5px;
				padding-right: 0px;
				font-size: 15px;
			}
			.card-body, li{
				background-color: #e8e4e1;
				text-align: left;
			}
			img.clockimg{
			width: 50px;
			margin:0 auto;
		}
	}
	
}
#churchshedule{
	.modal-dialog{
		.modal-content{
			padding:2px;
			h1{
				font-size: 25px;
				text-align: center;
			}
			p{
				font-size: 13px;
				text-align: center;
			}
			
			
		}
	}
	.right-panel{
		display: none;
	}
}
}

@include phone{
	nav{
	img.navimg{
		width: 200px;
		padding-top: 10px;
		}
	button{
		img{
			width: 50px;
		}
		}
	}
	#head{
		background: url('../images/modal.jpg')no-repeat center center fixed;
		background-size: cover;
		color:white;
		height: 100px;
		margin-bottom: 0px;
}
	#sched-link{
		padding:20px;
		width: 100%;
		margin:0 auto;
		.container{
			padding:4px;
			
		}
		.card-body{
				padding:0px;
				font-size: 12px;
			}

	}
	#About-us{
	background: url('../images/aboutus.jpg')no-repeat center center fixed;
	background-size: cover;
	color:white;
	.container{

	}
	.left{
		border: 1px solid white;
		padding:20px;
		border-radius: 20px;
		img{
			padding-top: 10px;
			border-radius: 20px;
		}
		.verse{
			background-color: #3b6978;
						color:white;
		}
	}
	.right{
		text-align: center;
		border: none;
		padding:0px;
		.container{
			margin-top: 10px;
			padding:0px;
		}
		li{
			font-size: 12px;
		}
		hr{
			background-color: gray;
		}
		.tab-content{
			padding:7px;
			text-align: left;
			
			font-size: 12px;
		}
		.nav-tabs{
			border:0px;
			
			.nav-link{
						border:none;
						border-radius: 0px;
						box-shadow: none;
						background-color: #3b6978;
						color:white;
						padding:5px;
			}
			.nav-link:hover{
						border:none;
						border-radius: 0px;
						box-shadow: none;
						background-color: #84a9ac;
						color:white;
						}
					.nav-link:focus{
						border:none;
						border-radius: 0px;
						box-shadow: none;
						background-color: #204051;
						color:white;
						}

					
		}
	
	}
	
}
	#Our-staff{
		p.lead{
			font-size: 12px;
		}
	}
	#Contact-us{
		.container{
			.card-group{
				.card{
					padding-top: 5px;
					img{
						margin:5px;
					}
				}
			}
		}
		padding:0px;
		.card-header{
			padding:0px;
			p{
			font-size: 12px;
		}
		}
	}
	#schedule{
		background: url('../images/ourstaff.jpg')no-repeat center center fixed;
		background-size: cover;
		padding:5px;
	.sched-holder{
		width: 100%;
		margin:0 auto;
		background-color: #e8e4e1;
		padding:10px;
			.card-body{
				padding-left:0px;
				padding-right: 0px;
			}
			li{
				padding-left: 5px;
				padding-right: 0px;
				font-size: 12px;
			}
			.card-body, li{
				background-color: #e8e4e1;
				text-align: left;
			}
			img.clockimg{
			width: 50px;
			margin:0 auto;
		}
	}
	
}
#churchshedule{
	.modal-dialog{
		.modal-content{
			padding:2px;
			h1{
				font-size: 25px;
				text-align: center;
			}
			p{
				font-size: 13px;
				text-align: center;
			}
			li{
				font-size: 12px;
				a{
					padding:1px;
				}
			}
		}
	}
	.right-panel{
		display: none;
	}
}
#About-us{
	
}


}
