body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100vh;
  font-family: 'Lato', sans-serif; }

nav {
  background-color: white;
  border-bottom: 2px solid grey;
  text-align: center; }
  nav img.navimg {
    width: 300px;
    padding-top: 10px;
    padding-left: 30px; }
  nav a {
    color: black;
    text-decoration: none;
    padding: 5px 20px 5px 2px;
    font-size: 13px; }
  nav a:hover {
    color: white;
    background-color: #204051; }
  nav a.active {
    color: white;
    background-color: #204051; }

.jumbotron {
  margin-bottom: 0px;
  background-color: gray; }

#head {
  color: white;
  height: 300px;
  margin-bottom: 0px;
  padding: 0px; }

#sched-link {
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: 50px;
  background-color: #204051;
  text-align: center;
  color: white; }
  #sched-link img {
    width: 50px;
    margin: 0 auto; }

#About-us {
  background: url("../images/aboutus.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  color: white; }
  #About-us .left {
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px; }
    #About-us .left img {
      padding-top: 10px;
      border-radius: 20px; }
    #About-us .left .verse {
      background-color: #3b6978;
      color: white; }
  #About-us .right {
    text-align: center;
    border: none; }
    #About-us .right hr {
      background-color: gray; }
    #About-us .right .tab-content {
      padding: 20px;
      text-align: left; }
    #About-us .right .nav-tabs {
      border: 0px; }
      #About-us .right .nav-tabs .nav-link {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: #3b6978;
        color: white; }
      #About-us .right .nav-tabs .nav-link:hover {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: #84a9ac;
        color: white; }
      #About-us .right .nav-tabs .nav-link:focus {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: #204051;
        color: white; }

#Our-staff {
  background: url("../images/staff.png") no-repeat center center fixed;
  background-size: cover; }
  #Our-staff .container .card-group .card .card-body img {
    margin-bottom: 5px; }
  #Our-staff p.lead {
    background-color: #393e46;
    color: white; }
  #Our-staff .card, #Our-staff .card-body, #Our-staff .card-text, #Our-staff .content {
    background-color: #e8e4e1; }

#Contact-us {
  background: gray;
  background-size: cover;
  padding: 50px;
  height: auto; }
  #Contact-us .card-group .card {
    margin: 3px;
    padding: 10px; }
  #Contact-us h1 {
    padding: 10px;
    background-color: #393e46;
    color: white; }
  #Contact-us iframe {
    position: relative;
    min-width: 100%;
    width: 100%; }
  #Contact-us img.addlogo {
    width: 30px; }
  #Contact-us .mapouter {
    position: relative;
    height: auto;
    width: 100%; }
  #Contact-us .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
    width: 100%; }

#schedule .sched-holder {
  width: 60%;
  margin: 0 auto;
  background-color: #e8e4e1;
  padding-top: 20px; }
  #schedule .sched-holder .card-body {
    padding-left: 0px;
    padding-right: 0px; }
  #schedule .sched-holder li {
    padding-left: 10px;
    padding-right: 0px; }
  #schedule .sched-holder .card-body, #schedule .sched-holder li {
    background-color: #e8e4e1;
    text-align: left; }
  #schedule .sched-holder img.clockimg {
    width: 50px;
    margin: 0 auto; }

#churchshedule {
  background: url("../images/modalback.jpg") no-repeat center center fixed;
  background-size: cover; }
  #churchshedule .modal-dialog .modal-content {
    background: url("../images/modal.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 10px 50px; }
    #churchshedule .modal-dialog .modal-content .container {
      background-color: #204051;
      text-align: center;
      border: none;
      padding: 10px; }
      #churchshedule .modal-dialog .modal-content .container .nav-tabs {
        border: none; }
      #churchshedule .modal-dialog .modal-content .container li {
        background-color: #204051;
        border: none;
        color: white; }
        #churchshedule .modal-dialog .modal-content .container li a {
          text-decoration: none;
          border: none;
          color: white;
          font-size: 12px; }
        #churchshedule .modal-dialog .modal-content .container li img {
          width: 20px;
          margin-right: 3px; }
    #churchshedule .modal-dialog .modal-content h1 {
      color: white; }
      #churchshedule .modal-dialog .modal-content h1 span {
        color: yellow; }
    #churchshedule .modal-dialog .modal-content p {
      color: white; }
    #churchshedule .modal-dialog .modal-content .row hr {
      background-color: gray; }
    #churchshedule .modal-dialog .modal-content .card-header {
      background-color: #204051;
      color: white; }
    #churchshedule .modal-dialog .modal-content .right-panel {
      padding: 20px; }
    #churchshedule .modal-dialog .modal-content li {
      padding-left: 10px;
      padding-right: 0px; }
    #churchshedule .modal-dialog .modal-content .card-body, #churchshedule .modal-dialog .modal-content li {
      background-color: #e8e4e1;
      text-align: left; }
    #churchshedule .modal-dialog .modal-content img.clockimg {
      width: 50px;
      margin: 0 auto; }
    #churchshedule .modal-dialog .modal-content #myTab {
      border: none; }
      #churchshedule .modal-dialog .modal-content #myTab li {
        padding: 0;
        text-align: center;
        background-color: #204051; }
        #churchshedule .modal-dialog .modal-content #myTab li a {
          text-decoration: none;
          color: white; }
        #churchshedule .modal-dialog .modal-content #myTab li .nav-link:hover {
          border: none;
          box-shadow: none;
          background-color: #84a9ac;
          color: white; }
        #churchshedule .modal-dialog .modal-content #myTab li .nav-link:focus {
          border: none;
          box-shadow: none;
          background-color: #3b6978;
          color: white; }
        #churchshedule .modal-dialog .modal-content #myTab li .active {
          background-color: #3b6978;
          color: white;
          border: none;
          box-shadow: none; }
  #churchshedule .modal-dialog .row {
    padding: 5px 20px 5px 20px; }
    #churchshedule .modal-dialog .row .card-header {
      background-color: #204051; }
    #churchshedule .modal-dialog .row .body {
      padding: 0px 0px 0px 10px; }
    #churchshedule .modal-dialog .row h5.look {
      font-size: 17px; }
  #churchshedule .modal-dialog .modal-footer {
    padding: 5pxpx;
    border: none; }

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white; }
  footer p {
    margin: 0px; }
  footer .social-logo {
    margin-top: 5px;
    width: 70px; }

/* media queries */
@media only screen and (max-width: 1024px) {
  #sched-link {
    width: 100%;
    padding: 20px; } }
@media only screen and (max-width: 768px) {
  nav img.navimg {
    width: 200px;
    padding-top: 10px; }
  nav button img {
    width: 50px; }

  #sched-link {
    width: 100%;
    padding: 20px; }

  #About-us {
    background: url("../images/aboutus.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 10px;
    color: white; }
    #About-us .card {
      color: black; }
    #About-us .card, #About-us .card-body, #About-us .card-text, #About-us .content {
      background-color: #e8e4e1; }

  #Our-staff p.lead {
    font-size: 12px; }

  #Contact-us {
    padding: 0px; }
    #Contact-us .card-group .card .card-body {
      margin: 0px; }
    #Contact-us .card-header {
      padding: 0px; }
      #Contact-us .card-header p {
        font-size: 12px; }

  #schedule {
    background: url("../images/ourstaff.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 25px; }
    #schedule .sched-holder {
      width: 100%;
      margin: 0 auto;
      background-color: #e8e4e1;
      padding: 20px; }
      #schedule .sched-holder .card-body {
        padding-left: 0px;
        padding-right: 0px; }
      #schedule .sched-holder li {
        padding-left: 5px;
        padding-right: 0px;
        font-size: 15px; }
      #schedule .sched-holder .card-body, #schedule .sched-holder li {
        background-color: #e8e4e1;
        text-align: left; }
      #schedule .sched-holder img.clockimg {
        width: 50px;
        margin: 0 auto; }

  #churchshedule .modal-dialog .modal-content {
    padding: 2px; }
    #churchshedule .modal-dialog .modal-content h1 {
      font-size: 25px;
      text-align: center; }
    #churchshedule .modal-dialog .modal-content p {
      font-size: 13px;
      text-align: center; }
  #churchshedule .right-panel {
    display: none; } }
@media only screen and (max-width: 480px) {
  nav img.navimg {
    width: 200px;
    padding-top: 10px; }
  nav button img {
    width: 50px; }

  #head {
    background: url("../images/modal.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100px;
    margin-bottom: 0px; }

  #sched-link {
    padding: 20px;
    width: 100%;
    margin: 0 auto; }
    #sched-link .container {
      padding: 4px; }
    #sched-link .card-body {
      padding: 0px;
      font-size: 12px; }

  #About-us {
    background: url("../images/aboutus.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white; }
    #About-us .left {
      border: 1px solid white;
      padding: 20px;
      border-radius: 20px; }
      #About-us .left img {
        padding-top: 10px;
        border-radius: 20px; }
      #About-us .left .verse {
        background-color: #3b6978;
        color: white; }
    #About-us .right {
      text-align: center;
      border: none;
      padding: 0px; }
      #About-us .right .container {
        margin-top: 10px;
        padding: 0px; }
      #About-us .right li {
        font-size: 12px; }
      #About-us .right hr {
        background-color: gray; }
      #About-us .right .tab-content {
        padding: 7px;
        text-align: left;
        font-size: 12px; }
      #About-us .right .nav-tabs {
        border: 0px; }
        #About-us .right .nav-tabs .nav-link {
          border: none;
          border-radius: 0px;
          box-shadow: none;
          background-color: #3b6978;
          color: white;
          padding: 5px; }
        #About-us .right .nav-tabs .nav-link:hover {
          border: none;
          border-radius: 0px;
          box-shadow: none;
          background-color: #84a9ac;
          color: white; }
        #About-us .right .nav-tabs .nav-link:focus {
          border: none;
          border-radius: 0px;
          box-shadow: none;
          background-color: #204051;
          color: white; }

  #Our-staff p.lead {
    font-size: 12px; }

  #Contact-us {
    padding: 0px; }
    #Contact-us .container .card-group .card {
      padding-top: 5px; }
      #Contact-us .container .card-group .card img {
        margin: 5px; }
    #Contact-us .card-header {
      padding: 0px; }
      #Contact-us .card-header p {
        font-size: 12px; }

  #schedule {
    background: url("../images/ourstaff.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 5px; }
    #schedule .sched-holder {
      width: 100%;
      margin: 0 auto;
      background-color: #e8e4e1;
      padding: 10px; }
      #schedule .sched-holder .card-body {
        padding-left: 0px;
        padding-right: 0px; }
      #schedule .sched-holder li {
        padding-left: 5px;
        padding-right: 0px;
        font-size: 12px; }
      #schedule .sched-holder .card-body, #schedule .sched-holder li {
        background-color: #e8e4e1;
        text-align: left; }
      #schedule .sched-holder img.clockimg {
        width: 50px;
        margin: 0 auto; }

  #churchshedule .modal-dialog .modal-content {
    padding: 2px; }
    #churchshedule .modal-dialog .modal-content h1 {
      font-size: 25px;
      text-align: center; }
    #churchshedule .modal-dialog .modal-content p {
      font-size: 13px;
      text-align: center; }
    #churchshedule .modal-dialog .modal-content li {
      font-size: 12px; }
      #churchshedule .modal-dialog .modal-content li a {
        padding: 1px; }
  #churchshedule .right-panel {
    display: none; } }

/*# sourceMappingURL=style.css.map */
